torch==2.1.0
transformers==4.34.1
peft==0.6.0
datasets==2.14.5
matplotlib==3.8.2
accelerate==0.21.0
einops==0.6.1
evaluate==0.4.0
scikit-learn==1.2.2
sentencepiece==0.1.99
wandb==0.15.3
gdown

# Please install this from github: https://github.com/TimDettmers/bitsandbytes
# bitsandbytes==0.41.2